Django==4.2.16
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
django-anymail[sendgrid]==11.1
django-storages[azure]==1.14.4
mysqlclient==2.2.4
python-dotenv==1.0.1
Pillow==10.4.0
reportlab==4.2.2
celery==5.4.0
gunicorn==23.0.0
django-ratelimit==4.1.0
factory-boy==3.3.3
